<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>FAQs testando</h1>
  <div class="col-md-8" id="faqs">
    <h4>FAQs</h4>
    
    <hr>
    <div class="card mb-3">
      <div class="row g-0">
        <!-- Adicione aqui a lógica para exibição de imagens, se necessário -->
        <div class="col-md-8">
          <div class="card-body">
            <a href="#">
              <h5 class="card-title"></h5>
            </a>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>