<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/site_styles.css">
    <link rel="stylesheet" href="css/header.css">
    <title>Sobre Nós - Decorações e Ambientes</title>
</head>
<header id="home">
    <nav id="navbar">
        <div id="navbar-logo">
            <img src="img/Logo-CoreAmbiente_Prancheta 1 co¦üpia.png" alt="logo Cor e Ambiente" id="nav-logo">
        </div>
        <div id="nav-pages">
            <ul id="nav-list">
                <li class="nav-item">
                    <a href="/">Início</a>
                </li>
                <li class="nav-item dropdown">
                    <a href="/lista-produtos">Produtos</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a href="/lista-produtos">Cortinas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/lista-produtos">Persianas</a>
                        </li>
                        <li class="nav-item">
                            <a href="/lista-produtos">Decorações</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/lista-trabalhos">Nossos Trabalhos</a>
                </li>
                <li class="nav-item">
                    <a href="/lista-publicacoes">Publicações</a>
                </li>
                <li class="nav-item">
                    <a href="/#contato">Contato</a>
                </li>
                <li class="nav-item dropdown ">
                    <a href="#">Mais</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item active">
                            <a href="/lista-sobre_nos">Sobre Nós</a>
                        </li>
                        <li class="nav-item">
                            <a href="/lista-faqs">Perguntas Frequentes - FAQ</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <button id="mobile-btn">
            <i class="fa-solid fa-bars"></i>
        </button>
    </nav>
    <div id="mobile-menu">
        <ul id="mobile-nav-list">
            <li class="nav-item">
                <a href="/">Início</a>
            </li>
            <li class="nav-item">
                <a href="/lista-produtos">Cortinas</a>
            </li>
            <li class="nav-item">
                <a href="/lista-produtos">Persianas</a>
            </li>
            <li class="nav-item">
                <a href="/lista-produtos">Decorações</a>
            </li>
            <li class="nav-item">
                <a href="/lista-Trabalhos">Nossos Trabalhos</a>
            </li>
            <li class="nav-item">
                <a href="/lista-publicacoes">Publicações</a>
            </li>
            <li class="nav-item">
                <a href="/lista-sobre_nos">Sobre Nós</a>
            </li>
            <li class="nav-item">
                <a href="/#contact">Contato</a>
            </li>
            <li class="nav-item">
                <a href="/lista-faqs">Perguntas Frequentes - FAQ</a>
            </li>
        </ul>
    </div>
</header>

<body>

    <section id="sobre" class="py-5">
        <h1 class="text-center" style="padding-bottom: 20px;">Cor e Ambiente</h1>
        <div class="container">
            <h2 class="text-center mb-4" style="background-color: #FFFAEE;">Sobre Nós</h2>
            <p class="lead text-justify">
                Na Cor e Ambiente, somos apaixonados por transformar espaços. Com anos de experiência no setor
                de cortinas e decorações, nossa missão é proporcionar aos nossos clientes ambientes que reflitam seu
                estilo e personalidade.
            </p>
            <p class="text-justify">
                Oferecemos uma ampla gama de produtos, desde cortinas elegantes até acessórios decorativos, todos com a
                mais alta qualidade e atenção aos detalhes. Nossa equipe de especialistas está sempre pronta para ajudar
                na escolha dos melhores produtos que atendam às suas necessidades e expectativas.
            </p>
            <p class="text-justify">
                Acreditamos que cada detalhe conta. Por isso, trabalhamos com as melhores matérias-primas e as últimas
                tendências de design, garantindo que cada projeto seja único e especial. Seja para sua casa, escritório
                ou qualquer outro espaço, estamos aqui para ajudar a criar ambientes que inspirem e encantem.
            </p>
            <p class="text-justify">
                Venha nos visitar e descubra como podemos transformar seu espaço em um lugar mais bonito e acolhedor. Na
                Cor e Ambiente, sua satisfação é nossa prioridade!
            </p>
        </div>
    </section>


    <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.me%2Fmessage%2F2PIHSXCOBYCJL1&e=AT0LIS0NSY1ajylKPuuxmC2jDGMHsNdSugGNF9L-GP6EpTilLCIIHl2_VppU7rjNjvr0r2ZG2ej8QWW4_QQj7x2AWqGtS3lcmtsro29tLw7ycAdVzYGGpg"
        target="_blank" class="whatsapp-float">
        <i class="fab fa-whatsapp whatsapp-icon"></i>
    </a>
    <!-- Footer -->
    <footer class="text-center text-lg-start bg-dark text-light" id="rodape">
        <div class="container p-4">
            <div class="row">
                <!-- Social Media -->
                <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                    <h5 class="text-uppercase">Nos siga nas Redes Sociais</h5>
                    <ul class="list-unstyled d-flex justify-content-around">
                        <li><a href="#" class="text-dark"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#" class="text-dark"><i class="fab fa-instagram"></i></a></li>
                    </ul>
                </div>
                <div class="text-center p-3">
                    © 2023 Cor e Ambientes Decorações. Todos os direitos reservados.
                </div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>