<div class="mt-2">
    {{#each publicacao.imagens_internas}}
    <img src="http://localhost:3000/img/publicacoes/{{this}}" class="img-thumbnail mr-2 mb-2" alt="Imagem Interna" style="max-width: 150px;">
    {{/each}}
</div>
