<div class="container mt-5">
        <h1 class="text-center mb-4">Admin Dashboard</h1>
        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Banners</h5>
                        <p class="card-text">Gerencia o caroossel da tela inicial</p>
                        <a href="/banners/" class="btn btn-primary">Gerenciar Banners</a>
                    </div>
                </div>
            </div>
            <!--
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Produtos</h5>
                        <p class="card-text">Manage store products</p>
                        <a href="/produtos/" class="btn btn-primary">Manage Products</a>
                    </div>
                </div>
            </div>
            -->
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Publicações</h5>
                        <p class="card-text">Gerencia as Publicações do Site</p>
                        <a href="/publicacoes/" class="btn btn-primary">Gerenciar Publicações</a>
                    </div>
                </div>
            </div>            
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-aspect-ratio display-1"></i>
                        <h5 class="card-title mt-3">Trabalhos</h5>
                        <p class="card-text">Gerencia os trabalhos da loja</p>
                        <a href="/trabalhos/" class="btn btn-primary">Gerenciar Trabalhos</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-person display-1"></i>
                        <h5 class="card-title mt-3">Usuários</h5>
                        <p class="card-text">Gerencia as contas de usuários</p>
                        <a href="/usuarios/" class="btn btn-primary">Gerenciar Usuários</a>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100 text-center">
                    <div class="card-body">
                        <i class="bi bi-person display-1"></i>
                        <h5 class="card-title mt-3">FAQs</h5>
                        <p class="card-text">Manage frequently asked questions</p>
                        <a href="/faqs/" class="btn btn-primary">Manage FAQs</a>
                    </div>
                </div>
            </div>            
        </div>
    </div>